
@import "elements.less";

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400italic,500,500italic);

@my-blue: #1e90ff;
@almost-blue: #2ea0ff;
@my-light-blue: #c1e2f7;
@my-dark-blue: #222299;
@white: #fdfdfd;
@almost-white: #eeeeee;

@padding-left: 50px;
@padding-left-small: 20px;
@padding-top: 20px;
@padding-right: 20px;

@logo-size: 50px;

@city-size: 18px;
@city-size-2: 24px;
@city-size-small: 13px;
@selected-city-size: 48px;

@title-size: 40px;
@motto-size: 20px;
@search-size: 50px;

@panel-height: 65px;
@search-height: 450px;

@io-size: 24px;

.my-panel {

	background-color: @my-blue;
	min-height: @panel-height;
	width: 100%;
	overflow-x: hidden;
}

.my-search {
	.gradient(@almost-blue, @almost-blue, @my-blue);
	background-color: @my-blue;
	min-height: @search-height;
	width: 100%;
	overflow-x: hidden;
}

.logo {
	width: @logo-size;
}

.p-e {
	padding-top: @padding-top; 
}

.p-l {
	margin-left: @padding-left;
}

.p-sl {
	margin-left: @padding-left-small;
}

.p-t {
	margin-top: @padding-top;
}

.p-r {
	margin-right: @padding-right;
}

.f-r {
	text-align: right;
}

p.title {
	font-family: Quicksand;
	color: @almost-white;
	font-size: @title-size;
}

p.motto {
	margin-top: -20px;
	font-family: Quicksand;
	color: @almost-white;
	font-size: @motto-size;
}

p.search-text {
	font-family: Quicksand;
	color: @almost-white;
	font-size: @search-size;
	text-align: center;

}

p.go-button {
	font-family: Quicksand;
	color: @almost-white;
	font-size: @search-size;
	text-align: center;

}

a.title {
	&:extend(p.title);
	text-decoration: none;

	&:hover {
		&:extend(p.title);
		text-decoration: none;
	}
}

div.cities-box {
	text-align: center;
	height: 300px;
	background-color: @almost-white;
	width: 70%;
    margin: 0 auto;
    .border-radius(10px, 10px, 10px, 10px);
    .opacity(0.8);
}

div.selected-city-box {
	text-align: center;
	height: 300px;
	background-color: @almost-white;
	width: 70%;
    margin: 0 auto;
    .border-radius(10px, 10px, 10px, 10px);
    .opacity(0.8);
}

span.io {
	font-family: Quicksand;
	color: @almost-white;
	font-size: @io-size;
	font-style: italic;
}

span.city {
	font-family: Quicksand;
	color: @my-dark-blue;
	font-size: @city-size;
	font-style: bold;
	cursor: default;
	text-align: center;
	line-height: 1.0;
	&:hover {
		font-size: @city-size-2;
	}
}

span.selected-city {
	font-family: Quicksand;
	color: @my-dark-blue;
	font-size: @selected-city-size;
	font-style: bold;
	cursor: default;
	text-align: center;
	line-height: 1.0;
	
}

span.selected-city-close {
	&:extend(span.selected-city);
	font-size: @city-size;
}

span.selected-city-credits {
	&:extend(span.selected-city);
	font-size: @city-size-small;
	font-style: italic;
}

img.cityPhoto {
	max-height: 220px;
	max-width: 100%;
	margin-left: 30px;
	.border-radius(10px, 10px, 10px, 10px);
    
}

.container { 
  width: 200px;
  height: 260px;
  position: relative;
  perspective: 800px;
}

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#card .front {
}
#card .back {
  transform: rotateY( 180deg );
}

#card.flipped {
  transform: rotateY( 180deg );
}
