<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet/less" type="text/css" href="css/styles.less">
    <!-- LESS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>

    <!-- MOMENT.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    
    <!-- Parse -->
    <script src="//www.parsecdn.com/js/parse-1.6.4.min.js"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular-route.js"></script>

    <script src="js/utils.js"></script>

    <script src="js/app.module.js"></script>
    <script src="js/app.factories.js"></script>
    <script src="js/app.services.js"></script>
    <script src="js/cities.controller.js"></script>
    

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

 <script>

    Parse.initialize("DGkZSHEpZtVApIKR93DqTRCikd67koNglTu5pTUy", "hgMBdBCrqaHHIDgHqBhCUTS6McPnmJPnxbDI7wdX");
        
    function flip(){
    var card = document.getElementById('card');
  
    card.toggleClassName('flipped');
 }
 </script>
</head>

<body ng-app="app">
<div ng-controller="CitiesController" ng-init="init()">
    <div>
    <div class="my-panel">
        <div class="row">
            <div class="col-md-1 p-t p-l">
                <img src="i/france1.png" class="logo">
            </div>
            <div class="col-md-4 p-t">
                <p class="title"><a class="title" href="http://www.mesto.io">MESTO</a><span class="io">.io</span>
                </p>
                <p class="motto">Find your bed <i>wisely</i>
                </p>
            </div>
            <div class="col-md-6 p-t f-r">
                <img src="i/info44.png" class="logo">
            </div>
        </div>
    </div>
    <div class="row" ng-show="isStep(1) == true">
        <div class="col-md-12">
            <div class="my-search">
                <div style="text-align:center;">
                <span ng-show="citySelected == 0" class="search-text">I want to go to</span>
                <span ng-show="citySelected > 0" class="search-text">{{selectedCity.get("Name")}}</span><span ng-show="citySelected > 0" class="selected-city-close p-t" ng-click="unselectCity()">(change)</span>
                </div>
                <div class="cities-box p-t p-e" ng-show="citySelected == 0">
                    <div class="row">
                    <div class="col-md-3" ng-repeat-start="city in cities" class="row city"><span class="city p-t" ng-click="selectCity(city)"> {{city.get("Name")}}</span></div>
                    <div class="clearfix" ng-if="$index%4==3"></div>
                    <div ng-repeat-end=""></div>
                    </div>  
                </div>
                <div class="selected-city-box p-t" ng-show="citySelected > 0">
                    <div class="cityPhoto" style="background-image: url('{{selectedCityPhoto}}');" title="Photo: {{selectedCityPhotoAuthor}}">
                    <div class="overlay-photo"> 
                    <span class="go-button" ng-click="findMeABed()">Find me a bed</span>
                    </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
    <div ng-show="isStep(2) == true" style="text-align:center;">
        <p><span class="p-t search-text-blue">Here's a video of {{selectedCity.get("Name")}} while we are finding beds for you</span></p>
        <p><div id="iframe-container" class="p-t youtube">
        </div>
        </p>
        <p><span ng-click="viewDashboard()" class="p-iframe go-button-blue" ng-show="listingsProcessed == true">Go!</span></p>
    </div>
    <div ng-show="isStep(3) == true">
        Done!
    </div>
    </div>
</div>
</body>

</html>
